body {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background-color: rgb(5, 90, 5);
    font-family: Arial, Helvetica, sans-serif;
}

body > h1 {
    margin: 60px 0px;
}

#cabecalhoForm {
    color: rgb(134, 206, 129);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(81, 104, 81);
    width: 500px;
    border-radius: 30px;
    border: 1px solid black;
}

section {
    padding: 30px;
}

#campoEmail, #campoSenha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

label {
    padding-right: 50px;
    font-weight: bold;
    color: rgb(163, 191, 120);
}

input {
    padding: 3px;
    background-color: rgb(216, 225, 204);
    width: 55%;
}

button {
    padding: 5px 20px;
    background-color: rgb(76, 172, 76);
}

a {
    color: rgb(5, 5, 5);
    text-decoration: none;
}